
:root {
    --footer-height: 80px;
}


body {
    background-color: rgb(27, 25, 27);
    color: gray;
    /* margin-bottom: var(--footer-height); */

    font-size: 0.98em;
}

a {
    color: slategray;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    transition: 0.11s;
}

@import url('https://fonts.cdnfonts.com/css/terminal');
@import url('https://fonts.cdnfonts.com/css/ds-terminal');
@import url('https://fonts.cdnfonts.com/css/xilla');
@import url('https://fonts.cdnfonts.com/css/onli');
@import url('https://fonts.cdnfonts.com/css/zx-spectrum-7');

.console {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    overflow:hidden;
    font-size: xx-large;
    color: rgb(51, 54, 53);
    font-family: 'Courier New', monospace;
    background-color: transparent;
    border-style: none;

    -webkit-animation: console-color-anim 4s infinite;
    -moz-animation: console-color-anim 4s infinite;
    -o-animation: console-color-anim 4s infinite;
    -ms-animation: console-color-anim 4s infinite;
    animation: console-color-anim 4s infinite;
}

@-webkit-keyframes console-color-anim {
    0% { color: rgb(51, 54, 53); }
    50% { color: rgb(39, 38, 36); }
    80% { color: rgb(69, 71, 71); }
    100% { color: rgb(48, 52, 53); }
}
@-moz-keyframes console-color-anim {
    0% { color: rgb(51, 54, 53); }
    50% { color: rgb(39, 38, 36); }
    80% { color: rgb(69, 71, 71); }
    100% { color: rgb(48, 52, 53); }
}
@-ms-keyframes console-color-anim {
    0% { color: rgb(51, 54, 53); }
    50% { color: rgb(39, 38, 36); }
    80% { color: rgb(69, 71, 71); }
    100% { color: rgb(48, 52, 53); }
}
@-o-keyframes console-color-anim {
    0% { color: rgb(51, 54, 53); }
    50% { color: rgb(39, 38, 36); }
    80% { color: rgb(69, 71, 71); }
    100% { color: rgb(48, 52, 53); }
}
@keyframes console-color-anim {
    0% { color: rgb(51, 54, 53); }
    50% { color: rgb(39, 38, 36); }
    80% { color: rgb(69, 71, 71); }
    100% { color: rgb(48, 52, 53); }
}

.left-side{
    text-align: right;
}

.title-container {
    color: lightgrey;
    padding: 12px;
    padding-right: 0;
}

.title-name {
    font-size: 2em;
    
}

.site-desc {
    text-align: justify;
    margin: 10;
    margin-right: 0;
    padding: 7px;
    padding-right: 0;
}

.parameters {
    color: lightgray;
    margin: 10px;
    margin-right: 0;
    padding: 7px;
    padding-right: 0;
    border-top: 1px dotted lightgray ;
}

.slider-value {
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px rgb(97, 42, 85);
}

.slider {
    width: 250px;
    height: 15px;
    -webkit-appearance: none;
    background: darkslategray;
    outline: none;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 2px 2px rgb(97, 42, 85);
  }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 10%;
    background: rgb(97, 42, 85);
    cursor: pointer;
    border: 2px solid slategray;
    box-shadow: -407px 0 0 400px slategrey;
}

button {
    font-size: 1.2em;
    color: lightgray;
    font-weight: 500;
    padding: 10px 15px 10px;
    outline: 0;
    border: 2px solid rgb(97, 42, 85);
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
button:after {
    content: "";
    background-color: darkslategray;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;   
    top: 5px;
    right: 8px;
    transition: 0.2s;
}
  
button:hover:after {
    top: 0px;
    right: 0px;
}

/* input[type="file"] {
    
} */

.image-container {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 1px 1px rgb(97, 42, 85);;
    
    width: 100%;
    height: 250px;
    margin-top: 10px;

    background-size: contain;
    background-color: black;
    background-image: none;
}

.image-container img {
    object-fit: contain;
    height: 100%;

    position: relative; 
    left: 50%;
    transform: translateX(-50%);
}

.image-label {
    transform-origin: 0 0;
    transform: rotate(90deg);
    
    position: relative;
    left: 106%;
    top: 0px;
    height: 0;

    font-size: 1.15em;
    font-weight: bold;
    text-shadow: 2px 2px rgb(97, 42, 85);
}

.footer {

    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    line-height: var(--footer-height); /* Vertical center */

    background: rgba(39, 28, 36, 0.9);

    font-size: 2em;
    color: lightgray;
}

.footer .container {
    width: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.homepage {
    font-family: 'Unica One', cursive;
    text-shadow: 2px 0px rgb(146, 43, 84);
}


